<div th:fragment="inspection-header" th:if="${modelName != null}">
  <div th:if="${revisions != null and !revisions.empty}">
    <div class="revisions">
      <a class="badge badge-info mr-2" target="_blank" style="color: cornflowerblue"
         th:each="r, iter: ${revisions}"
         th:href="@{|/checksheet/inspection/show/${r.getEntity().getId()}?rPayload=${r.getRevisionNumber().get()}|}"
         th:text="'Revision - ' + ${iter.index+1}">
      </a>
    </div>
  </div>

  <div class="container mb-5 d-flex justify-content-between" th:if="${sheet != null}">

    <button type="button" class="btn btn-light position-relative">
      Date Created On
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
            th:text="${#dates.format(sheet.createdAt, 'dd-MM-yyyy')}"></span>
    </button>

    <button type="button" class="btn btn-light position-relative">
      Last Updated On
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
            th:text="${#dates.format(sheet.updatedAt, 'dd-MM-yyyy')}"></span>
    </button>

    <button type="button" class="btn btn-light position-relative">
      Final Submitted On
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
            th:if="${sheet.finalSubmitDate != null}"
            th:text="${#dates.format(sheet.finalSubmitDate, 'dd-MM-yyyy')}"></span>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            th:if="${sheet.finalSubmitDate == null}" th:text="${'Not Submitted yet'}"></span>
    </button>

  </div>


  <table th:if="${modelName != null}" class="table table-sm table-bordered" id="inspection-header-table">
    <thead>
    <tr>
      <th colspan="4" class="text-center" th:text="${heading}">
      </th>
    </tr>
    <tr>
      <th scope="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon0">Model-</span>
          </div>
          <input type="text" class="form-control" id="modelName" th:value="${context == 'UPDATE'? sheet.modelName: modelName}" readonly>
        </div>
      </th>
      <th scope="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">MSN-</span>
          </div>
          <input type="text" class="form-control" id="msn" th:value="${context == 'UPDATE' ? sheet.msn : ''}">
        </div>
      </th>
      <th scope="col">
        Revision- <span th:text="${revNo}"></span>
      </th>
    </tr>

    </thead>
  </table>
</div>

