<tbody th:fragment='first-model' id='first-model' xmlns:th='http://www.w3.org/1999/xhtml'>
<tr>
    <td>1</td>
    <td>1</td>
    <td>Station 1</td>
    <td>Confirm No rust/dent/scratch on the body, spindle and cover. Afterwashing the parts again cleaned using CS70 and clean cloth</td>
    <td>Visual</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined0' id='0-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='0-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined0' id='0-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='0-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined0' id='0-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='0-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>2</td>
    <td>1</td>
    <td>Station 1</td>
    <td>Ensure there are no burns in all the drilled holes, check with the help of torch and use air gun for cleaning each hole</td>
    <td>Visual</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined1' id='1-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='1-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined1' id='1-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='1-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined1' id='1-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='1-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>3</td>
    <td>1</td>
    <td>Station 1</td>
    <td>Before pressing of the Ball cover, Check the Plate is Properly rested to eleminate Uneven Pressing of Ball Cover.
        Use A810095 0-ring in spindle and check gap of 0.1mm after ball bearing pressing</td>
    <td>Filler Gauge</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined2' id='2-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='2-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined2' id='2-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='2-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined2' id='2-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='2-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>4</td>
    <td>1</td>
    <td>Station 1</td>
    <td>Check & Place the D-ring 4231542- 5 Nos, Dust seal (4195898- 1 Nosand O-ring 4176479- 1 Nos in the body and apply heavy duty grease on it</td>
    <td>Kit Check</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined3' id='3-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='3-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined3' id='3-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='3-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined3' id='3-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='3-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>5</td>
    <td>2</td>
    <td>Station 1</td>
    <td>While pressing of Body on Spindle, there is no port hole in spindle (right side of operator) and body gapis two finger on the Body Port Holes on the right side</td>
    <td>Visual</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined4' id='4-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='4-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined4' id='4-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='4-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined4' id='4-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='4-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>6</td>
    <td>3</td>
    <td>Station 1</td>
    <td>Check correct nos of ballsare put (20Nos) . Confirm by Circle</td>
    <td>20</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined5' id='5-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='5-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined5' id='5-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='5-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined5' id='5-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='5-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>7</td>
    <td>3</td>
    <td>Station 1</td>
    <td>Check proper fitment of circlip mark a linewith yellow marker along the cirlip to the body, check rotation of ring (4176429)</td>
    <td>Yellow mark</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined6' id='6-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='6-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined6' id='6-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='6-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined6' id='6-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='6-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>8</td>
    <td>3</td>
    <td>Station 1</td>
    <td>Place A810110 0-ring on body(after applying Grease)</td>
    <td>Confirm</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined7' id='7-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='7-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined7' id='7-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='7-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined7' id='7-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='7-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>9</td>
    <td>3</td>
    <td>Station 1</td>
    <td>Torque the bolt at 50N-M and alwayskeep the cutting portion of the coveron the front side</td>
    <td>50N m</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined8' id='8-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='8-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined8' id='8-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='8-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined8' id='8-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='8-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>10</td>
    <td>4</td>
    <td>Station 1</td>
    <td>Check Air Leakage Test for 5 Ports</td>
    <td>Confirm</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined9' id='9-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='9-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined9' id='9-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='9-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined9' id='9-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='9-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>11</td>
    <td>4</td>
    <td>Station 1</td>
    <td>Counter No</td>
    <td></td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined10' id='10-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='10-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined10' id='10-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='10-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined10' id='10-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='10-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>12</td>
    <td>4</td>
    <td>Station 1</td>
    <td>Free rotation check on fixture in both clockwise and anticlock wise direction (1 full rotation) and ensure the white line marking is maintained</td>
    <td>Confirm</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined11' id='11-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='11-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined11' id='11-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='11-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined11' id='11-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='11-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>13</td>
    <td>4</td>
    <td>Station 1</td>
    <td>Apply AntiRust(VpCI369N/DW902) before plug fitment and Check Punch the number on the device</td>
    <td>Confirm</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined12' id='12-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='12-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined12' id='12-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='12-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined12' id='12-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='12-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>14</td>
    <td>4</td>
    <td>Station 1</td>
    <td>Punch number photo</td>
    <td>Main line 7th</td>
    <td><input type="text" class="form-control comment"/></td>
    <td><input type='radio' class='btn-check na-outlined' name='options-outlined13' id='13-na' autocomplete='off'
               value='NA'>
        <label class='btn btn-outline-warning' for='13-na'>NA</label>
        <input type='radio' class='btn-check ng-outlined' name='options-outlined13' id='13-ng' autocomplete='off'
               value='NG'>
        <label class='btn btn-outline-danger' for='13-ng'>NG</label>
        <input type='radio' class='btn-check ok-outlined' name='options-outlined13' id='13-ok' autocomplete='off'
               value='OK'>
        <label class='btn btn-outline-success' for='13-ok'>OK</label></td>
    <td></td>
    <td></td>
</tr>
</tbody>